html {
  background-color: $light;
}
html.dark {
  background-color: $dark;
}

html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
}
body > div {
  height: 100%;
}

html {
  --text-color: #000000;
}

html.dark {
  --text-color: #f7f7f7;
}
